@charset "UTF-8";

body {
  font-family: "Inter","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

input, textarea, select, .form-row p, form .button {
  font-family: "Inter", "Lucida Grande", Verdana, Arial, sans-serif;
}

#logout-form button {
  font-family: "Inter","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
