##########
# Django #
##########

DEBUG=on
SECRET_KEY=gs5yn66xb54k7_&)&vt=!ut_t7c@q1^ck2)npv5fdvws156k9%
ADMINS="Lee-Dave Lopper <ld.lopper@foo.com>, Dave Lopper <d.lopper@foo.com>"
MANAGERS="Lee-Dave Lopper <ld.lopper@foo.com>, Dave Lopper <d.lopper@foo.com>"
ALLOWED_HOSTS=localhost,127.0.0.1,[::1],0.0.0.0
DATABASE_URL=sqlite:///db.sqlite3
CACHE_URL=locmemcache://
EMAIL_URL=consolemail://
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=dev@foo.com
REQUEST_LOGGING_ENABLE_COLORIZE=on
